.App {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: #1e555c;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.length {
  display: flex;
  justify-content: space-between;
}

.labels {
  margin: 10px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background: #7b2a54;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 2rem;
}

button:hover {
  background: #52193d;
  cursor: pointer
}

span {
  font-size: 2rem;
}

#timer-label {
  border: 5px solid white;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  background: lightgreen;
  color: black;
}
