.App {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: #1e555c;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.length {
  display: flex;
  justify-content: space-between;
}

.labels {
  margin: 10px;
}